* {
    padding: 0;
    margin: 0;
    color: #000000;
    text-decoration: none;
}

*::before {
    position: absolute;
    padding: 2px 8px;
    left: 0px;
    top: 0px;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
}

body {
    font-size: 16px;
    padding: 20px;
}

header,
main,
aside,
footer {
    position: relative;
    padding: 20px;
    margin-bottom: 40px;
    border: 3px solid #B0E0E6;
}

header::before,
main::before,
aside::before,
footer::before {
    background-color: #B0E0E6;
}

header::before {
    content: "header";
}

main::before {
    content: "main";
}

aside::before {
    content: "aside";
}

footer::before {
    content: "footer";
}

nav,
section,
article {
    position: relative;
    padding: 20px;
    margin: 30px 0;
    border: 3px solid #DDA0DD;
}

nav::before,
section::before,
article::before {
    background-color: #DDA0DD;
}

nav::before {
    content: "nav";
}

section::before {
    content: "section";
}

article::before {
    content: "article";
}

div {
    position: relative;
    padding: 20px 50px;
    margin: 20px 0;
    border: 3px solid #D3D3D3;
}

div::before {
    background-color: #D3D3D3;
    content: "div";
}

h1,
h2,
h3 {
    position: relative;
    padding: 20px 50px;
    margin: 30px 0;
    padding-bottom: 10pt;
    background-color: #F8F8FF;
    border: 1px solid #9370DB;
}

h1::before,
h2::before,
h3::before,
h4::before {
    background-color: #9370DB;
    color: #FFFFFF;
}

h1::before {
    content: "h1";
}

h2::before {
    content: "h2";
}

h3::before {
    content: "h3";
}

h4::before {
    content: "h4";
}

p,
blockquote,
cite {
    display: block;
    position: relative;
    padding: 20px 50px;
    margin: 15px 0;
    background-color: #F5F5F5;
    border: 1px solid #708090;
}

p::before,
blockquote::before,
cite::before {
    background-color: #708090;
    color: #FFFFFF;
    content: "p";
}

blockquote::before {
    content: "blockquote";
}

cite::before {
    content: "cite";
}

p::before {
    content: "p";
}

ul,
dl {
    position: relative;
    padding: 20px 50px;
    margin: 30px 0;
    background-color: #FFF8DC;
    border: 1px solid #CD853F;
}

li,
dt,
dd {
    list-style-type: none;
    position: relative;
    margin-bottom: 5px;
    padding: 5px 12px 5px 45px;
    border: 1px solid #CD853F;
}

dd:not(:last-child) {
    margin-bottom: 15px;
}

ul::before,
li::before,
dl::before,
dt::before,
dd::before {
    background-color: #CD853F;
    color: #FFFFFF;
}

ul::before {
    content: "ul";
}

li::before {
    content: "li";
}

dl::before {
    content: "dl";
}

dt::before {
    content: "dt";
}

dd::before {
    content: "dd";
}

img {
    display: inline-block;
    width: auto;
    max-height: 200px;
    padding: 20px;
    background-color: #F0F8FF;
    border: 1px solid #708090;
}

span {
    display: inline-block;
    position: relative;
    padding: 5px 10px 5px 70px;
    background-color: #F5F5F5;
    border: 1px solid #708090;
}

a {
    display: inline-block;
    position: relative;
    padding: 5px 10px 5px 55px;
    background-color: #F5F5F5;
    border: 1px solid #5fa5eb;
}


span::before {
    background-color: #708090;
    color: #FFFFFF;
    content: "span";
    top: 4px;
    left: 5px;
}

a::before {
    background-color: #5fa5eb;
    color: #FFFFFF;
    content: "link";
    top: 4px;
    left: 5px;
}

button,
input {
    padding: 12px;
}

form {
    position: relative;
    padding: 20px 70px;
    background-color: #F0F8FF;
    border: 1px solid #708090;
}

form::before {
    background-color: #708090;
    color: #FFFFFF;
    content: "form";
}