/* Підключення шрифтів виніс в окремий fonts.css для зручності */

/* ДОПОМІЖНІ СТИЛІ */

.no-indents {
  margin: 0;
  padding: 0;
}

.no-markers {
  list-style-type: none;
}

.button {
  box-sizing: border-box;
  width: 214px;
  height: 60px;
  padding: 0 60px;
  display: inline-block;
  border-radius: 10px;
  font-family: "DM Sans";
  font-size: 17px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: -0.5px;
  background-color: #ffffff;
  color: #5454d4;
  border: 1px solid #5454d4;
}

.button:hover {
  cursor: pointer;
  background-color: #5454d4;
  color: #ffffff;
}

.header-button:hover {
  background-color: #ff7143;
  border: none;
}

.button:active {
  background-color: #9f3919;
}

/* БАЗОВА СТИЛІЗАЦІЯ */

body {
  margin: 0;
  padding: 0;
  max-width: 1400px;
  font-family: "Mulish";
  font-size: medium;
  font-style: normal;
  font-weight: 400;
}

.body-nav {
  height: 145px;
  background-color: rgba(255, 113, 66, 0.27);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-header {
  width: 1070px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.body-main {
  max-width: 1070px;
  margin: 0 auto;
}

.body-text {
  margin: 0;
  padding: 0;
}

/* НАВІГАЦІЯ */

.nav-list {
  display: flex;
}

.nav-list-item:not(:last-of-type) {
  margin-right: 50px;
}

.nav-link {
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  color: #696871;
  text-decoration: none;
}

.nav-link:hover {
  color: #19191b;
}

/* ТОП СЕКЦІЯ */

.section-intro {
  display: flex;
  justify-content: space-between;
  margin-top: 104px;
}

.box-intro {
  width: 467px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.body-title {
  font-family: "DM Sans";
  font-size: 80px;
  font-weight: 700;
  line-height: 96%;
  letter-spacing: -2.5px;
  margin-bottom: 30px;
  color: #19191b
}

.body-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.6px;
  color: #696871;
}

.box-intro-button {
  margin-top: 50px;
}

.box-intro-button button:last-of-type {
  float: right;
}

/* СЕКЦІЯ ОФОРМЛЕННЯ ПІДПИСКИ */

.section-subscript {
  margin-top: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subscript-form {
  width: 557px;
}

.subscript-form label {
  display: block;
  margin-bottom: 38px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 114%;
  letter-spacing: -1.56316px;
  color: #19191b;
}

.user-email {
  box-sizing: border-box;
  width: 302px;
  padding: 14px 19px;
  height: 60px;
  margin-right: 40px;
  border-radius: 10px;
  border: 1px solid #7087ff;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.5px;
  color: #000000;
}

.user-email::placeholder {
  color: #000000;
}

.user-email:focus::placeholder {
  color: rgb(112, 135, 255, 0.30);
}

.user-email:focus {
  background-color: rgb(112, 135, 255, 0.10);
}

.user-email:focus {
  outline: 0;
  outline-offset: 0;
}


/* СЕКІЯ ТАРИФНИХ ПЛАНІВ ПІДПИСКИ */

.section-tariffs {
  margin-top: 85px;
  margin-bottom: 132px;
}

.section-title {
  font-family: "DM Sans";
  font-size: 60px;
  font-weight: 700;
  line-height: 117%;
  letter-spacing: -1.9px;
  color: #19191b;
  /* --- !!! --- */
  width: 504px;
  /* !Костиль! Забиваю ширину усьому стилю.
  Потрібно якось окремо - стиль для усіх заголовків H2 
  й стиль котрий виділяє окрему ширину */
}

.tariffs-list {
  margin-top: 110px;
  display: flex;
  column-gap: 40px;
  justify-content: space-between;
  /* flex-grow: 1; */
}

.tariffs-list .button {
  width: 100%;
}

.tariffs-item {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 330px;
  padding: 34px 20px 27px;
  height: 441px;
  border-radius: 10px;
  background-color: #f8f8f8;
  z-index: 1;
}

.tariffs-name {
  margin-bottom: 22px;
  font-family: "DM Sans";
  font-size: 18px;
  font-weight: 400;
  line-height: 156%;
  letter-spacing: -0.6px;
  color: #696871;
}

.tariffs-price {
  font-family: "DM Sans";
  font-size: 60px;
  font-weight: 700;
  line-height: 93%;
  letter-spacing: -1px;
  color: #1d293f;
}

.tariffs-price small {
  font-size: 28px;
}

.tariffs-spec-item {
  text-align: center;
}

.tariffs-spec-item:not(:last-of-type) {
  margin-bottom: 35px;
}

.tariffs-spec {
  /* --!!!-- */
  margin: auto 0;
  /* Свойство "маргин-авто" выводит объект в центр оси 
  прижимая остальные к краям (верх-низ)*/
  font-family: "Mulish";
  font-size: 17px;
  font-weight: 700;
  line-height: 50%;
  letter-spacing: -0.5px;
  color: #1d293f;
}

.tariffs-item .button {
  border: none;
}

.tariffs-item:hover {
  background-color: #ff7143;
  color: #9f3919;
}

.tariffs-item:hover .button{
  color: #9f3919;
}

.tariffs-item:hover .tariffs-name,
.tariffs-item:hover .tariffs-price,
.tariffs-item:hover .tariffs-spec {
  color: #ffffff;
}

.tariffs-item .button:hover {
  color: #ffffff;
}

.tariffs-item .button:active {
  background-color: #9f3919;
  color: #ffffff;
}

/*  ФУТЕР */

.body-footer {
  height: 145px;
  background-color: rgba(255, 113, 66, 0.27);
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-footer {
  display: flex;
  width: 1070px;
  justify-content: space-between;
  align-items: center;
}

/* !!! */
/* Ефект зміни зміни кольору фону у батьківському елементі 
при наведені курсора на кнопку (дочірній елемент) реалізовано
через псевдоелемент :after
Джерело - https://ru.stackoverflow.com/questions/977353/При-наведении-курсора-на-ссылку-меняется-цвет-фона-блока 
*/

/* .tariffs-item .button:hover:after {
  position: absolute;
  content: " ";
  display: block;
  border-radius: 10px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #d7d7ff;
  z-index: -1; */

/* --- !!! --- */
/* pointer-events: none; */
/* Без цього правила єфект зміни кольору не зникає якщо курсор 
  виходить за межі кнопки. Це правило прибирає ефект від "ховеру" */